<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/7a0ee39a-310f-48e3-bf69-698c487b9719/resourceGroups/hspa/providers/Microsoft.Web/sites/villa-hspa</ResourceId>
    <ResourceGroup>hspa</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://villa-hspa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5285b49a-5002-4834-bca5-ef9614c3f4f6</ProjectGuid>
    <PublishUrl>https://villa-hspa.scm.azurewebsites.net/</PublishUrl>
    <UserName>$villa-hspa</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>