<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName" />
            <span *ngIf="!userName?.valid && (userName?.touched || userSubmitted)" class="error-block">
               Provide user name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email"/>
          <span class="error-block" *ngIf="!email?.valid && (email?.touched || userSubmitted)">
            <!-- <span *ngIf="registrationForm.get('email')?.hasError('required')" > -->
              <span *ngIf="email?.hasError('required')" >
              Provide user email
            </span>
            <span *ngIf="email?.hasError('email')" >
              Provide valid email
            </span>
          </span>          
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" />
            <span class="error-block" *ngIf="!password?.valid && (password?.touched || userSubmitted)">
              <!-- <span *ngIf="password?.errors['required']" > -->
                <span *ngIf="password?.hasError('required')" >
                Provide password
              </span>
              <span *ngIf="password?.hasError('minlength')" >
                <!-- <span *ngIf="password?.errors.minlength" > -->
                Password length must be minimum 8 characters
              </span>
            </span>    
          </div>
  
          <div class="form-group col-6">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" />
            <span class="error-block" *ngIf="!confirmPassword?.valid && (confirmPassword?.touched || userSubmitted)">
              <span *ngIf="confirmPassword?.hasError('required')" >
                Provide confirm password
              </span>           
            </span>  
            <!-- <span *ngIf="registrationForm.hasError('notmatched') && confirmPassword.valid" > -->
              <span *ngIf="confirmPassword.hasError('notmatched') && (confirmPassword.valid || userSubmitted)" >
              Confirm password not matched with password
            </span>
          </div>  
        </div>
        
        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile"/>
          <span class="error-block" *ngIf="!mobile?.valid && (mobile?.touched || userSubmitted)">
            <span *ngIf="mobile?.hasError('required')" >
              Provide mobile number
            </span>
            <span *ngIf="mobile?.hasError('maxlength')" >
              Mobile number must have maximum 10 digits
            </span>
          </span>  
        </div>
        <div class="form-group col-12 pt-2">
          <button type="submit" class="btn btn-primary">Save</button>&nbsp;
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>